<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songlian.logistics.dao.MaterialDao">

    <resultMap id="materialCount" type="com.songlian.logistics.pojo.Material">
        <id property="materialId" column="materialId"></id>
        <result property="name" column="name"></result>
    </resultMap>

    <select id="getMaterialCount" resultType="hashmap">
        SELECT
            mat.material_id as materialId,
            mat.`name` as name,
            SUM(inv.amount) as count
        FROM `inventory` inv
                 RIGHT OUTER JOIN  `material` mat
                            ON inv.material_id=mat.material_id
        WHERE inv.deleted=0
        <if test="mid != null">
            and `mat`.material_id = #{mid}
        </if>
        <if test="name != null">
            and `mat`.name like #{name}
        </if>
        GROUP BY(inv.material_id);
    </select>

    <select id="getOne" resultType="com.songlian.logistics.pojo.Material">
        select * from material where materialiD=1;
    </select>
</mapper>
