*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color:white;
    text-decoration: none;
}

.sl-no,.el-submenu{
    user-select: none;
}

.demo-table-expand {
    font-size: 0;
}
.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}
.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
    margin-left: 20px;
}